$white: #FFF;
$black: #000;
$dark-brown: #593527;
$tan-opacity: rgba(255, 231, 212, 0.6);
$dark-brown-opacity: rgba(89, 53, 39, 0.6);
$mate-brown-opacity: rgba(67, 37, 15, 0.6);
$black-brown: #1a0900;
$mate-brown: #43250F;
$tan: #FFE7D4;

$light-grey: #babbbb;
$dark-grey: #454444;
$darker-grey: #2b2b29;



